@model IEnumerable<Producer>

    @{
        ViewData["Title"] = "List of Producers";
    }

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>
@Html.DisplayNameFor(model => model.ProfilePicture)
                        </th>
                        <th>@Html.DisplayNameFor(model => model.ProducerName)</th>
                        <th>@Html.DisplayNameFor(model => model.Bio)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                          <img src="@item.ProfilePicture" class="rounded-circle" alt="@item.ProducerName" style="max-width:150px;">
                        </td>
                        <td>
                            @item.ProducerName
                        </td>
                        <td>@item.Bio</td>
                        <td>
                            <a class="btn btn-outline-primary">
                            <i class="bi bi-pencil-square"></i>Edit
                        </a>
                        <a class="btn btn-outline-info">
                            <i class="bi bi-eye"></i>Details
                        </a>
                        <a class="btn btn-danger text-white">
                            <i class="bi bi-trash text-white"></i>Delete
                        </a>
                        </td>
                    </tr>
                }
            </tbody>
            </table>
        </div>
    </div>